.time-font {
    font-size: 50px
}

.sm-font {
    font-size: 18px
}

.med-font {
    font-size: 28px
}

.large-font {
    font-size: 60px
}
.card-title{
    background: #002340;
    font-weight: 400;
    margin: 0px -8px;
    padding: 5px 10px;
    color: #fff;
}